@using Microsoft.AspNetCore.Components
@implements IDisposable
@inject IComponentApplicationState ApplicationState
@inject PanelService PanelService

<div class="slide-panel slide-panel-right @(PanelService.IsPanelOpen(PanelName) ? "open" : "")">
    @if (canRender)
    {
        @ChildContent
    }
</div>

@code {
    private bool canRender;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter, EditorRequired]
    public string PanelName { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        canRender = !ApplicationState.IsPrerendering;
        PanelService.OnPanelStateChanged += StateHasChanged;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && !canRender)
        {
            canRender = true;
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        PanelService.OnPanelStateChanged -= StateHasChanged;
    }
}
