@inject PanelService PanelService
@implements IDisposable

@* Backdrop overlay - shown when any panel is open *@
@if (PanelService.GetOpenPanelCount() > 0)
{
  <div class="panel-backdrop visible" @onclick="@(() => PanelService.CloseAllPanels())"></div>
}

@code {
  protected override void OnInitialized()
  {
    if (PanelService != null)
    {
      PanelService.OnPanelStateChanged += StateHasChanged;
    }
  }

  public void Dispose()
  {
    if (PanelService != null)
    {
      PanelService.OnPanelStateChanged -= StateHasChanged;
    }
  }
}
