@implements IDisposable
@inject PersistentComponentState ApplicationState
@inject PanelService PanelService

<div class="slide-panel slide-panel-right @(PanelService.IsPanelOpen(PanelName) ? "open" : "")">
    @if (canRender)
    {
        @ChildContent
    }
</div>

@code {
    private bool canRender;
    private PersistingComponentStateSubscription persistingSubscription;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter, EditorRequired]
    public string PanelName { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        persistingSubscription = ApplicationState.RegisterOnPersisting(PersistContentRendered);
        canRender = ApplicationState.TryTakeFromJson<bool>(nameof(canRender), out _);
        PanelService.OnPanelStateChanged += StateHasChanged;
    }

    private Task PersistContentRendered()
    {
        ApplicationState.PersistAsJson(nameof(canRender), true);
        return Task.CompletedTask;
    }

    public void Dispose()
    {
        persistingSubscription.Dispose();
        PanelService.OnPanelStateChanged -= StateHasChanged;
    }
}
