@inject PanelService PanelService
@implements IDisposable

<div class="slide-panel slide-panel-right @(PanelService.IsPanelOpen(PanelName) ? "open" : "")">
  @if (_shouldRenderChildContent)
  {
    @ChildContent
  }
</div>

@code {
  private bool _shouldRenderChildContent = false;

  [Parameter, EditorRequired]
  public string PanelName { get; set; } = string.Empty;

  [Parameter]
  public RenderFragment? ChildContent { get; set; }

  protected override void OnInitialized()
  {
    PanelService.OnPanelStateChanged += StateHasChanged;
  }

  protected override void OnAfterRender(bool firstRender)
  {
    if (firstRender)
    {
      _shouldRenderChildContent = true;
      StateHasChanged();
    }
  }

  public void Dispose()
  {
    PanelService.OnPanelStateChanged -= StateHasChanged;
  }
}
